@use "variables" as v;

@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin dekstop {
  @media (min-width: v.$dekstop) {
    @content;
  }
}

@mixin dekstopXL {
  @media (min-width: v.$dekstopXL) {
    @content;
  }
}

@mixin grid($columnas, $gap) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $gap;
  padding: 5rem 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
