// Fuentes
$font_principal: "Montserrat", sans-serif;

// Colores

$cafe: #a68f72;
$beige: #d9c6b0;
$rojo-oscuro: #8c3a27;
$rojo-claro: #d95a4e;
$black: #0d0d0d;
$light: #ffffff;

// Media Queries

$phone: 480px;
$tablet: 768px;
$dekstop: 992px;
$dekstopX: 1200px;
