// Fonts
$font_principal: "Montserrat", sans-serif;
// Fonts

// Colores
$purple: #400235;
$red: #8c0303;
$red-dark: #590202;
$black: #0d0d0d;
$light: #ffffff;

// Colores

// Media Queries
$phone: 480px;
$tablet: 768px;
$dekstop: 992px;
$dekstopXL: 1200px;
// Media Queries
