// Fonts
$font_principal: "Montserrat", sans-serif;
// Fonts

// Colores
$purple: #400235;
$red: #8c0303;
$purple-dark: #10002b;
$red-dark: #65010e;
$black: #0d0d0d;
$light: #ffffff;
$light-purple: #330066;
$gray: #333333;
// Colores

// Media Queries
$phone: 480px;
$tablet: 768px;
$dekstop: 992px;
$dekstopXL: 1200px;
// Media Queries
